<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: header">
  <title>Shop Homepage - Start Bootstrap Template</title>
</head>

<body>
<nav th:insert="fragments.html :: navbar"> </nav>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-9">
			<form th:object="${cart}" th:action="@{'/cart'}" method="post">
				<input type="hidden" th:field="*{user}"/>
				<input type="hidden" th:field="*{id}"/>
				<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
					<p>Please correct errors: </p>
					<p class="error"
						 th:each="err : ${#fields.errors('*')}"
						 th:text="${err}">Error msg</p>
				</div>
				<table id="owners" class="table table-striped">
					<thead>
					<tr>
						<td>Amount</td>
						<td>Product name</td>
						<td>Remove</td>
					</tr>
					</thead>
					<tbody>
					<tr th:each="cartItem, stat : ${cart.cartItems}">
						<td><input type="number" class="form-control" th:value="${cartItem.amount}"
											 th:field="*{cartItems[__${stat.index}__].amount}"></td>
						<td th:text="${cartItem.item.name}"></td>
						<td><input type="radio" th:value="'1'"
											 th:field="*{cartItems[__${stat.index}__].removeFromCart}"></td>
						<input type="hidden" th:field="*{cartItems[__${stat.index}__].item}"/>
						<input type="hidden" th:field="*{cartItems[__${stat.index}__].id}"/>
					</tr>
					</tbody>
				</table>
				<button class="btn btn-success" type="submit">Update cart</button>
			</form>
    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

<footer th:insert="fragments.html :: footer"> </footer>

</body>

</html>
