<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: header">
  <title>Cart</title>
</head>

<body>
<nav th:insert="fragments.html :: navbar"> </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row" th:each="item:${items}">

      <div class="col-lg-3">
        <a href="#">
        <img class="card-img-top img-fluid" src="../static/images/books.jpg" alt=""
             th:src="@{'/item=' + ${item.id} + '/img=0'}"
             width="100">
        </a>
      </div>

      <div class="col-lg-9">
        <div class="card mt-4">
          <div class="card-body">
            <h3 class="card-title" th:text="${item.name}">Product Name</h3>
            <h4 th:text="${item.price} + ' PLN'">$24.99</h4>
          </div>
        </div>
      </div>
      <!-- /.col-lg-9 -->
    </div>
  </div>
  <!-- /.container -->

  <footer th:insert="fragments.html :: footer"> </footer>

</body>
</html>
