<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <header th:insert="fragments.html :: header"> </header>
  <title>Shop Item - Start Bootstrap Template</title>
</head>

<body>
<nav th:insert="fragments.html :: navbar"> </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-9">
        <h1>CONSOLE</h1>
      </div>
    </div>

  </div>
  <!-- /.container -->

  <footer th:insert="fragments.html :: footer"> </footer>

</body>
</html>
