<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <header th:insert="fragments.html :: header"> </header>
  <title>Shop Item - Start Bootstrap Template</title>
</head>

<body>
<nav th:insert="fragments.html :: navbar"> </nav>
<div class="container-fluid" style="margin-top: 20px">
  <!-- Page Content -->
  <div class="row">
    <div class="col-lg-3">
      <h1 class="my-4">Book Store</h1>
      <div class="list-group">
        <a class="list-group-item"
           th:each="function:${functions}"
           th:text="${function.name}"
           th:href="@{'/admin/' + ${function.link}}">Do sth
        </a>
      </div>
    </div> <!-- /.col-lg-3 -->

    <div class="col-lg-9">
      <div class="row">
        <div th:each="item:${items}" class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a th:href="@{'/admin/item/' + ${item.id} + '/update'}"
                   th:text="${item.name}">Item One</a>
              </h4>
              <h5 th:text="${item.price} + ' PLN'">$24.99</h5>
              <p class="card-text" th:text="${item.descriptionShort}">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Amet numquam aspernatur!</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.col-lg-9 -->


  </div> <!--end row-->
</div>

<footer th:insert="fragments.html :: footer"> </footer>

</body>
</html>
